body {
	background-color: #FFFFCC;
}

#logo {
	width: 100%
}

#wrap {
	background-color: #dbb870;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#content {
	padding: 40px 20px;
	min-height: 900px;
}

#footer {
	text-align: center;
	font-size: 12px;
}
#reg label {
	width:70px; 
	height: 25px; 
	display:inline-block;
}

#login {

}

#menu a{
	float: left;
	width: 20%;
	background-color: #D1FF75;
	text-align: center;
	padding: 7px 0;
}
	
#menu a:hover{
	background-color: #CCCC66;	
	font-weight: bold;
}
	
#map_canvas {
	width: 500px;
	height: 400px;
}

#gallery img {
	border: 2px solid;
}
