<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Saunaleht</title>
<script type="text/javascript" src="script.js"></script>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div id="wrap">
<div><a href="?"><img id="logo" src="small/saun.png" alt="logo"/></a></div>
	<ul id="menu">
		<li><a href="?">Esileht</a></li>
		<li><a href="?page=kontakt">Asukoht</a></li>
		<li><a href="?page=portfolio">Portfolio</a></li>
		<?php if(isset($_SESSION['username'])):?>
			<li><a href="?page=tellimus">Vaata tellimusi</a></li>
			<li><a href="?page=logout">Logi välja</a></li>
		<?php else: ?>
			<li><a href="?page=regvorm">Küsi pakkumist!</a></li>
			<li><a href="?page=login">Logi sisse</a></li>
		<?php endif; ?>
	</ul>
<div id="content">