<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Saunaleht</title>
<script type="text/javascript" src="../script.js"></script>
<link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>
<div id="wrap">
<div id="header"><a href=""><img id="logo" src="../small/saun.png" alt="logo"/></a></div>
	<ul id="menu">
		<li><a href="">Esileht</a></li>
		<li><a href="">Portfolio</a></li>
		<li><a href="">Vaata tellimusi</a></li>
		<li><a href="">Küsi pakkumist!</a></li>
		<li><a href="">Asukoht</a></li>
		<li><a href="">Logi välja</a></li>
		<li><a href="">Logi sisse</a></li>
	</ul>
<div id="content">