<div id="reg">
<form action="?page=pakkumine" method="POST" >
	<label>Nimi</label>
	<input type="text" name="name" /><br/>
	
	<label>Telefon</label>
	<input type="tel" name="phone" /><br/>
	
	<label>Saun</label>
	<select name="saun">
		<option value="Soome saun">Soome saun</option>
		<option value="Vene saun">Vene saun</option>
		<option value="Türgi saun">Türgi saun</option>
		<option value="Suitsusaun">Suitsusaun</option>
		<option value="Aurusaun">Aurusaun</option>
		<option value="Aroomisaun">Aroomisaun</option>
	</select><br/>
	
	<label>Eelarve</label>
	<input type="number" name="price" min="0" step="50"/><br/>
	
	<label>Lisainfo</label>
	<textarea name="description" rows="10" cols="50"></textarea><br/>
	
	<input type="submit" value="Saada" name="button" />
</form>
</div>
<?php if (isset($errors)):?>
	<?php foreach($errors as $error):?>
		<div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
	<?php endforeach;?>
<?php endif;?>