<div id="reg">
<form action="regvorm.html" method="POST" >
	<label>Nimi</label>
	<input type="text" name="name" /><br/>
	
	<label>Telefon</label>
	<input type="tel" name="phone" /><br/>
	
	<label>Saun</label>
	<select name="saun">
		<option value="1">Soome saun</option>
		<option value="2">Vene saun</option>
		<option value="3">Türgi saun</option>
		<option value="4">Suitsusaun</option>
		<option value="5">Aurusaun</option>
		<option value="6">Aroomisaun</option>
	</select><br/>
	
	<label>Eelarve</label>
	<input type="number" name="price" min="0" step="50"/><br/>
	
	<label>Lisainfo</label>
	<textarea name="description" rows="10" cols="50"></textarea><br/>
	
	<label>Plaan</label>
	<input type="file" name="big" /><br/>
	
	<input type="submit" value="Saada" name="button" />
</form>
</div>