<h2>Pildigalerii</h2>
<div id="gallery">
	<a href="big/soome_saun.jpg" target="main">
	<img src="small/soome_saun.jpg" alt="Soome saun" width="150" height="100">
	</a>
	<a href="big/vene_saun.jpg" target="main">
	<img src="small/vene_saun.jpg" alt="Vene saun" width="150" height="100">
	</a>
	<a href="big/turgi_saun.jpg" target="main">
	<img src="small/turgi_saun.jpg" alt="Türgi saun" width="150" height="100">
	</a><br>
	<a href="big/suitsusaun.jpg" target="main">
	<img src="small/suitsusaun.jpg" alt="Suitsusaun" width="150" height="100">
	</a>
	<a href="big/aurusaun.jpg" target="main">
	<img src="small/aurusaun.jpg" alt="Aurusaun" width="150" height="100">
	</a>
	<a href="big/aroomisaun.jpg" target="main">
	<img src="small/aroomisaun.jpg" alt="Aroomisaun" width="150" height="100">
	</a>
</div>
<iframe name="main" src="" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>