<a href="big/soome_saun.jpg">
  <img src="small/soome_saun.jpg" alt="Soome saun" width="150" height="100">
</a>
<a href="big/vene_saun.jpg">
  <img src="small/vene_saun.jpg" alt="Vene saun" width="150" height="100">
</a>
<a href="big/turgi_saun.jpg">
  <img src="small/turgi_saun.jpg" alt="Türgi saun" width="150" height="100">
</a><br>
<a href="big/suitsusaun.jpg">
  <img src="small/suitsusaun.jpg" alt="Suitsusaun" width="150" height="100">
</a>
<a href="big/aurusaun.jpg">
  <img src="small/aurusaun.jpg" alt="Aurusaun" width="150" height="100">
</a>
<a href="big/aroomisaun.jpg">
  <img src="small/aroomisaun.jpg" alt="Aroomisaun" width="150" height="100">
</a>