<form action="regvorm.html" method="POST">
Nimi
<input type="text" name="name" /><br/>
Telefon
<input type="tel" name="phone" /><br/>
Saun    
<select name="saun">
	<option value="1">Soome saun</option>
	<option value="2">Vene saun</option>
	<option value="3">Türgi saun</option>
	<option value="4">Suitsusaun</option>
	<option value="5">Aurusaun</option>
	<option value="6">Aroomisaun</option>
</select><br/>
Eelarve
<input type="number" name="price" min="0" step="50"/><br/>
Lisainfo
<textarea name="description" rows="10" cols="50"></textarea><br/>
Plaan
<input type="file" name="big" /><br/>
<input type="submit" value="Saada" name="button" />
</form>