<p>Siin lehel on võimalik vaadata esitatud tellimusi</p>
<table border="1">
<tr>
  <th>Nimi</th>
  <th>Telefon</th> 
  <th>Saun</th>
  <th>Eelarve</th>
  <th>Lisainfo</th>
</tr>
<?php
	if (isset($tellimused)){
		foreach($tellimused as $tellimus){
?>

<tr>
  <td><?php echo htmlspecialchars($tellimus['nimi']); ?></td>
  <td><?php echo htmlspecialchars($tellimus['telefon']); ?></td> 
  <td><?php echo htmlspecialchars($tellimus['saun']); ?></td>
  <td><?php echo htmlspecialchars($tellimus['eelarve']); ?></td>
  <td><?php echo htmlspecialchars($tellimus['info']); ?></td>
</tr>

<?php }				
} ?>
</table>
